Repository FAMAF-resources/1ro_1C-Introduccion_a_los_Algoritmos-FAMAF, pull requests merged in 2023-08, with the labels that each got.

#4 rm github workflow readme
  .github/workflows/README.md
Labels: workflows

#5 Update README.md
  .github/README.md
  README.md
  assets/.gitkeep
  practico/.gitkeep
  teorico/.gitkeep
Labels: documentation

#6 Update repo
  README.md
  apuntes/.gitkeep
  apuntes/Apunte-IntrodA_2014.pdf
  apuntes/Calculo_de_programas-FAMAF-IntrodA_2008.pdf
  libros/Springer.pdf
  practico/.gitkeep
  practico/2019/P1-IntrodA_2019.pdf
  practico/2019/P2-IntrodA_2019.pdf
  practico/2019/P3-IntrodA_2019.pdf
  practico/2019/P4-IntrodA_2019.pdf
  practico/2019/peliculas.hs
  practico/2019/resueltos/P1_VSV.hs
  practico/2019/resueltos/P2_VSV.hs
  practico/2019/resueltos/Proyecto1Haskell.hs
  practico/2019/resueltos/Proyecto1c.hs
  practico/2019/resueltos/componer.hs
  practico/2019/resueltos/proyecto2.hs
  practico/2019/resueltos/sumar1.hs
  practico/2019/resueltos/tema2.2.hs
  teorico/.gitkeep
  teorico/Algoritmos - Digesto de Cálculo Proposicional.pdf
  teorico/Algoritmos - Digesto de Predicados.pdf
  teorico/Algoritmos - Extracto cap 3 Recursión.pdf
  teorico/Guia_rapida-Haskell.pdf
  teorico/Intro_Linux-FAMAF.pdf
  teorico/Resumen_Haskell.pdf
Labels: documentation, apuntes, libros, practico, teorico
